.footer-card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #E6F2FA;
    width: 100%;
    height: 100px;
    flex-wrap: wrap;
}

.footer-itens {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.2rem;
    padding-left: 20px;
    margin-top: 8px;
}

.footer-itens p {
    color: #446F9A;
    margin-right: 10px;
    font-size: 1.1rem;
}

.footer-itens svg {
    font-size: 3rem;
    color: #e70d0d;
}

.footer-itens:nth-child(n + 2) {
    border-left: 2px solid #d8d7d8;
}

.footer-itens:nth-child(2) svg {
    color: #0f46fa;
}

.footer-itens:nth-child(3) svg {
    color: #13c61c;
}
.footer-itens:nth-child(4) svg {
    color: #479851;
}
    
.footer-itens:nth-child(5) svg {
    color: #f3bb15;
}


@media (max-width: 992px)  {
    .footer-card {
        height: auto;
        flex-wrap: wrap;
        margin-bottom: 20px;
        gap: 20px;
        justify-content: flex-start;
    }

    .footer-itens:nth-child(n + 2) {
        border-left: none;
    }
}

@media (max-width: 576px) {
    .footer-itens svg {
        font-size: 2.5rem;
    }
}