.leadership-card {
    position: relative;
    width: 550px;
    height: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    background-color: #F5F8F0;
    padding: 15px 10px;
    border-radius: 20px;
    overflow: hidden;
}

.leadership-title {
    font-size: 1.8rem;
    text-align: center;
    width: 100%;
    color: #1B5E23;
    padding-top: 15px;
}

.leadership-subtitle {
    font-size: 1.3rem;
    text-align: center;
    height: 50px;
    display: flex;
    align-items: center;
    color: #0A205C;
}

.leadership-skins {
    width: 100%;
    display: flex;
    justify-items: center;
}

.leadership-topics {
    font-size: 1.2rem;
    text-align: left;
    padding: 0 10px;
    width: 100%;
    color: #052b0a;
}

.leadership-topics li {
    display: flex;
    gap: 10px;
}

.leadership-topics li span {
    font-size: 1.8rem;
    padding-bottom: 5px;
}

.leadership-card-footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #052b0a;
}

.leadership-card-footer-icon {
    font-size: 2.5rem;
    color: #1B5E23;
}

.leadership-card-footer-text {
    font-size: 1.5rem;
    text-align: center;
}


@media (max-width: 768px) {
    .leadership-card {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 576px) {
    .leadership-skins {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .leadership-card-footer-icon {
        font-size: 1.5rem;
    }

    .leadership-card-footer-text {
        font-size: 1.1rem;
    }

}