.communication-types {
    width: 100%;
    min-height: 730px;
    padding: 10px 40px;
    background-color: #FEFEFE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.communication-types-title {
    font-size: 1.4rem;
    color: #04345c;
    margin-top: 20px;
}

.box-types-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}